* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 43);
  color: white;
}

#logo path {
  stroke-dasharray: 1477px;
  stroke-dashoffset: 1477px;
  animation: line-animation 10s ease forwards 0.3;
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

input {
  border: none;
  background-color: rgb(24, 24, 43);
  margin: 20px;
  border-bottom: 2px solid white;
  width: 90%;
  color: white;
}
.saround {
  padding: 30px;
}

.icon-space {
  padding-right: 10px;
}

.bg-weat {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(./images/bk.jpg);
}
